<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3 text-white">Mes notes
              </h1>
              <p class="lead  text-white">Optimisez votre recherche d'inspiration avec la page de favoris, où vous
                pouvez sauvegarder et organiser vos idées créatives, images inspirantes et projets en cours, pour rester
                motivé et stimulé dans vos activités artistiques.</p>

            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <ng-container *ngIf="isNewNote">
              <div class="col-lg-4 mb-4">
                <form [formGroup]="NewNoteForm" (ngSubmit)="onSubmit()">
                  <div class="card card-lift--hover shadow border-0">
                    <div class="card-body py-5">
                      <div class="icon icon-shape rounded-circle mb-4" (click)="updateLockNew(newNote)"
                        [ngClass]="{'icon-shape-danger': newNote.typeNotes==PRIVATE_NoteType,'icon-shape-success': newNote.typeNotes==PUBLIC_NoteType}">
                        <i class="fa fa-unlock" *ngIf="newNote.typeNotes==PUBLIC_NoteType"></i>
                        <i class="fa fa-lock" *ngIf="newNote.typeNotes==PRIVATE_NoteType"></i>
                      </div>
                      <h6 class="text-primary text-uppercase">
                        <input class="form-control pl-2" formControlName="title" placeholder="Titre" type="text"
                          (focus)="focus=true" (blur)="focus=false">
                      </h6>
                      <div class="form-group mb-2">
                        <p class="description mt-3">
                          <textarea class="form-control form-control-alternative" formControlName="contenu" rows="4"
                            cols="80" placeholder="Saisissez le contenu..."></textarea>
                        </p>
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary my-2">Enregistrer</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </ng-container>
            <ng-container *ngIf="createNewNote">
              <div class="col-lg-4 mb-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="row card-body py-5 justify-content-center">
                    <h6 class="text-primary text-uppercase">Ajouter une nouvelle note</h6>
                    <p class="description mt-3 line-clamp-3">Cliquer sur le bouton en dessous pour créer une note</p>

                    <mat-icon class="text-black icon-size-8 cursor-pointer" [svgIcon]="'heroicons_solid:plus-circle'"
                      (click)="createNew()"></mat-icon>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="isUpdateNote">
              <div class="col-lg-4 mb-4">
                <form [formGroup]="UpdateNoteForm" (ngSubmit)="updateNote()">
                  <div class="card card-lift--hover shadow border-0">
                    <div class="card-body py-5">
                      <div class="icon icon-shape rounded-circle mb-4" (click)="updateLockNew(updateNote)"
                        [ngClass]="{'icon-shape-danger': updateNote.typeNotes==PRIVATE_NoteType,'icon-shape-success': newNote.typeNotes==PUBLIC_NoteType}">
                        <i class="fa fa-unlock" *ngIf="updateNote.typeNotes==PUBLIC_NoteType"></i>
                        <i class="fa fa-lock" *ngIf="updateNote.typeNotes==PRIVATE_NoteType"></i>
                      </div>
                      <h6 class="text-primary text-uppercase">
                        <input class="form-control pl-2" formControlName="title" placeholder="Titre" type="text"
                          (focus)="focus=true" (blur)="focus=false">
                      </h6>
                      <div class="form-group mb-2">
                        <p class="description mt-3">
                          <textarea class="form-control form-control-alternative" formControlName="contenu" rows="4"
                            cols="80" placeholder="Saisissez le contenu..."></textarea>
                        </p>
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary my-2">Enregistrer</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </ng-container>
            <ng-container *ngFor="let item of notesList, let i =index">
             
              <div class="col-lg-4 mb-2">
                <div class="card h-fit card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape rounded-circle mb-4" (click)="updateLock($event,item.id,item)"
                      [ngClass]="{'icon-shape-danger': item.typeNotes==PRIVATE_NoteType,'icon-shape-success': item.typeNotes==PUBLIC_NoteType}">
                      <i class="fa fa-unlock" *ngIf="item.typeNotes==PUBLIC_NoteType"></i>
                      <i class="fa fa-lock" *ngIf="item.typeNotes==PRIVATE_NoteType"></i>
                    </div>
                    <h6 class="text-primary text-uppercase">{{item.title}}</h6>
                    <p class="description mt-3 line-clamp-3" *ngIf="!item.showParagraph">{{item.content}}</p>
                    <p class="description mt-3" *ngIf="item.showParagraph">{{item.content}}</p>
                    <span class="ni-14px">
                      {{item.createdAt|initDate|date:'longDate':'':'fr'}}&nbsp;{{item.createdAt
                      |initDate|date:'HH':'':'fr'}}h{{item.createdAt |initDate|date:'mm':'':'fr'}}
                    </span>
                    <div class="justify-content-between">
                      <span class="">
                        <button (click)="editNote(item)"
                          class=" border mt-2 bg-hover btn btn-primary shadow-2xl rounded-lg bg-blue-300 text-white  p-1 top-0 right-0 text-center leading-4">
                          <mat-icon class="font-bold icon-size-3" [svgIcon]="'mat_outline:edit'"></mat-icon>
                        </button>
                        <button (click)="deleteNote(item)"
                          class=" cursor-pointer border btn btn-danger mt-2 bg-hover shadow-2xl rounded-lg text-white bg-red-300 p-1 top-0 right-0 text-center leading-4">
                          <mat-icon class="font-bold icon-size-3" svgIcon="heroicons_outline:trash">
                          </mat-icon>
                        </button>
                      </span>
                    </div>
                    <a (click)="toggleParagraph(item)" class="btn text-white mt-4" [ngClass]="getBtnColorClass(i)">
                      {{!item.showParagraph?'Voir plus':'Voir moins' |titlecase}}</a>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>